<footer id="footer" class="footer-section text-light bg-primary">
	<div class="container">
		<div class="copyrights">
			<h5 class="footer-logo">{{@site.title}}</h5><br>
			{{!-- Replace the above line with the HTML code in the below link for showing the logo instead of text in footer. --}}
			{{!-- <h5 class="footer-logo"><img src="assets/img/white_logo.png" alt="Vasanth Developer"></h5><br> --}}
			<p class="footer-copyright">{{@site.title}} &copy; {{date format='YYYY'}}. All Rights Reserved.
				{{!-- DO NOT REMOVE THE CREDITS, IF YOU RESPECT MY WORK --}}
				<small>Designed by <a class="watermark-text" href="https://vasanthdeveloper.com" target="_blank" rel="noopener">Vasanth Developer</a>.</small></p>
		</div>
	</div>
</footer>