<div class="text-center pagination">
    <button onclick="ananta.fetch();" type="button" class="btn btn-dark"><i class="fas fa-chevron-circle-down"></i> Load more</button>
    <p>You have reached the end.</p>
</div>