<div class="pageination-section text-center">
	<div class="row">
		<div class="col-sm">
			{{#if prev}}
			<a href="{{page_url prev}}" class="next"><i class="fas fa-long-arrow-alt-left"></i> Load next</a>
			{{/if}}
		</div>
		<div class="col-sm status text-center">
			<p>Page {{page}} of {{pages}}</p>
		</div>
		<div class="col-sm">
			{{#if next}}
			<a href="{{page_url next}}" class="previous">Load previous <i class="fas fa-long-arrow-alt-right"></i></a>
			{{/if}}
		</div>
	</div>
</div>