{{!-- Only output subscribe form if the subscribers option is enabled in admin --}}
{{#if @labs.subscribers}}
<section id="subscribe-section" class="subscribe-section text-center bg-light">
	<h3 class="subscribe-title font-weight-bold">Subscribe To {{@blog.title}}</h3>
	<p class="subscribe-tag">Get the latest posts delivered right to your inbox.</p>
	{{subscribe_form placeholder="Your email address" autofocus="true" form_class="subscribe-form" input_class="form-control text-center subscribe-input" button_class="btn btn-primary"}}
</section>
{{/if}}