<nav class="topics-nav border-bottom">
	<ul class="nav justify-content-center">
		<li class="nav-item">
			<p class="nav-link">Topics: </p>
		</li>
		<li>
			<p class="nav-link">Visit <a target="_blank" href="#">here</a> to see how tags can be changed.</p>
		</li>
	</ul>
</nav>