<nav class="topics-nav p-3 d-none d-lg-block">
	<ul class="nav justify-content-center">
		<li class="nav-item">
			<p class="nav-link">Topics: </p>
		</li>
		<li>
			<p class="nav-link">Visit <a target="_blank" rel="noopener" href="https://github.com/vasanthdeveloper/aakari/wiki">here</a> to see how tags can be changed.</p>
		</li>
	</ul>
</nav>