# Ignore the package-lock.json created by nodeJS
package-lock.json

# Ignore the node_modules folder where third-party modules fall in
node_modules

# Ignore the dist folder, as it contains released or unreleased code
dist