{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {{{body}}} of the default.hbs template --}}

<main role="main" id="posts-section" class="posts-section" data-aos="fade">
	<div class="posts-container">
		{{!-- Loop through each blog post --}}
		{{#foreach posts limit=@config.posts_per_page}}
			{{!-- Use our template to format the received data --}}
			{{> "posts-list"}}
		{{/foreach}}
		
		{{!-- This tag outputs pagination section --}}
		{{pagination}}
	</div>
</main>

{{!-- This tag will output the footer --}}
{{> "footer"}}