{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- Get the number of posts given in package.json from Ghost API --}}
<main role="main" id="posts-section" class="posts-section">
	<div class="posts-container">
		{{#get "posts" limit=@config.posts_per_page include="tags,authors"}}
		{{!-- Loop through each blog post --}}
		{{#foreach posts}}
			{{!-- Use our template to format the recived data --}}
			{{> "posts-list"}}
		{{/foreach}}
		{{/get}}
	</div>
</main>

{{!-- This tag will output the footer --}}
{{> "footer"}}

{{!-- This tag will output the required JavaScripts for all pages --}}
{{> "inject-js"}}

{{!-- Lazy loading images, will be only done on the index page, author page and tag page --}}
{{!-- All other pages will load images normally --}}
{{!-- Lazy loading configuration --}}
<script type="text/javascript" src="{{asset 'js/jquery.lazy.min.js'}}"></script>
<script type="text/javascript">
	$(function() {
		$('.lazy').lazy({
			effect: "fadeIn",
			effectTime: 300,
			threshold: 0
		});
	});
</script>