.btn {
    font-size: 0.9rem !important;
}

.icon {
    i {
        margin-right: 0.5rem;
    }
}

// Bootstrap configuration
$btn-border-radius: 20px;
$btn-padding-y: 7px;
$btn-padding-x: 15px;
$btn-font-weight: 600;