article {
    margin-bottom: 2rem;

    a > h2 {
        font-weight: 700;
        font-size: 1.4rem;
        margin: 0px;
    }

    .meta {
        display: flex;
        align-items: center;
        margin: 0.5rem 0px 0.8rem 0px;
        font-size: 0.9rem;
        font-weight: 600;

        img {
            margin: 0px 0.4rem 0px 0px;
            border-radius: 100%;
            max-height: 25px;
            max-width: 25px;
        }

        span, .category, .sep, .time {
            display: none;
        }

        .time {
            opacity: 0.3;
        }
    }

    .image {
        width: 100%;
        height: 0px;
        border-radius: 3px;
        margin-top: 5px;
        margin-bottom: 20px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        padding-top: 55%;
    }

    .excerpt {
        font-family: $font-family-normal;
        opacity: 0.8;
    }

    .content {
        font-family: $font-family-normal;

        h1, h2, h3, h4, h5, h6 {
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
        }

        h2 {
            font-size: 1.3rem;
        }

        ol, ul {
            padding-inline-start: 19px;
        }

        blockquote {
            box-shadow: $box-shadow;
            background-color: white;
            margin: 0px;
            margin-bottom: 1rem;
            padding: 10px 15px;
            border-radius: 0px 10px 10px 0px;
            border-left: $primary 2px solid;
        }

        img {
            width: 100%;
        }

        figure {
            margin: 0;
        }

        // Ghost's bookmark
        // TODO: Move this into it's own component
        .kg-bookmark-card {
            .kg-bookmark-container {
                display: flex;
                padding: 1rem;
                margin: 1rem 0px;
                border-radius: 7px;
                background-color: white;
                box-shadow: $box-shadow;
                border: 3px solid #EDF2F7;
                transition: border 250ms ease;
                flex-direction: column-reverse;
    
                .kg-bookmark-thumbnail {
                    overflow: hidden;
                    min-width: 100px;
                    border-radius: 3px;
                }
    
                .kg-bookmark-content {
                    display: flex;
                    margin-top: 0.8rem;
                    flex-direction: column;
    
                    .kg-bookmark-title {
                        font-weight: 600;
                        font-size: 1.1rem;
                        color: black !important;
                    }
    
                    .kg-bookmark-description {
                        font-size: 0.9rem;
                        margin-bottom: 1rem;
                        color: black !important;
                    }
    
                    .kg-bookmark-metadata {
                        display: flex;
    
                        * {
                            margin-right: 0.5rem;
                        }
    
                        .kg-bookmark-icon {
                            width: 20px;
                            height: 20px;
                        }
    
                        .kg-bookmark-author {
                            display: none;
                        }
    
                        .kg-bookmark-publisher {
                            color: $blue;
                            width: 124px;
                            font-weight: 600;
                            font-size: 0.9rem;
                            white-space: nowrap;
                            display: inline-block;
                            text-overflow: ellipsis;
                            overflow: hidden !important;
                        }
                    }
                }
            }

            .kg-bookmark-container:hover {
                border: 3px solid #CFD8DC;
            }
        }
    }
}

// TODO: This is not supposed to be here.
.post-template {
    article {
        margin-bottom: 0px !important;
    }
}

@media screen and (min-width: 768px) {
    article {
        margin-bottom: 4rem;

        a > h2 {
            font-size: 1.6rem;
        }

        .meta {
            margin: 0.5rem 0px 1.1rem 0px;
            font-weight: 500;

            span, .category, .sep, .time, a {
                margin-right: 0.3rem;
            }

            span, .category {
                display: inline;
            }
        }

        .image {
            width: unset;
            padding-top: 62%;
            margin: 0px -2rem 1.1rem -2rem;
        }

        .excerpt {
            font-size: 1.1rem;
        }
        
        .content {
            font-size: 1.2rem;

            // Ghost's bookmark card
            .kg-bookmark-card {
                .kg-bookmark-container {
                    max-height: 165px;
                    flex-direction: row;
    
                    .kg-bookmark-content {
                        margin: 0px;
                        display: flex;
                        min-width: 70%;
                        padding-right: 1rem;
                        
                        .kg-bookmark-description {
                            overflow: hidden;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            text-overflow: ellipsis;
                            -webkit-box-orient: vertical;
                        }
    
                        .kg-bookmark-metadata {
                            flex-grow: 1;
                            display: flex;
                            color: $text-color;
                            align-items: flex-end;
    
                            .kg-bookmark-author {
                                display: block;
                                font-weight: 600;
                                font-size: 0.9rem;
                            }
    
                            .kg-bookmark-author::after {
                                content: "•";
                                opacity: 0.6;
                                margin-left: 0.5rem;
                            }
                        }
                    }
    
                    .kg-bookmark-thumbnail > img {
                        height: 100%;
                        object-fit: contain;
                        object-position: top right;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 992px) {
    article {
        margin-bottom: 5rem;

        a > h2 {
            font-size: 1.8rem;
        }

        .image {
            margin: 5px -3rem 20px -3rem;
        }

        .meta {
            a, .sep, .time {
                display: block;
                margin-bottom: 0px;
            }
        }
    }
}

@media screen and (min-width: 1366px) {
    article {
        margin-bottom: 6rem;

        a > h2 {
            font-size: 2rem;
        }
    }
}

@media screen and (min-width: 1440px) {
    article {
        .image {
            margin: 5px -4rem 20px -4rem;
        }

        .excerpt {
            font-size: 1.2rem;
        }

        .content {
            // Ghost's bookmark card
            .kg-bookmark-card {
                .kg-bookmark-container {
                    .kg-bookmark-content {
                        min-width: 76%;
                    }
                }
            }
        }
    }
}