.head-section {
	padding-top: 60px;
	padding-bottom: 60px;
}

.head-section-title {
	padding-top: 20px;
}

.head-section-text {
	opacity: 0.5;
}

.head-section-profile {
    max-height: 120px;
    max-width: 120px;
	border-radius: 999px;
}

.head-section-location {
	color: #9A9A9A;

	i {
		margin-right: 3px;
	}
}