// Navigation Styles
.navbar {
	transition: 0.5s box-shadow;
}

.navbar-brand {
    font-weight: 700;
}

.navbar-nav {
    font-weight: 500;
}

// Limit the size of the logo
.nav-logo {
	max-height: 20px;
}

// Make topics bar look better
.topics-nav {
	padding: 12px;

	p {
		display: inline-block;
		margin: 0px;
	}
}