#header {
    position: relative;
}

.navbar-brand {
    font-weight: 700;
}

.navbar-nav {
    font-weight: 500;
}

.navbar-toggler {
    color: $primary;
    
    i {
        font-size: 1rem !important;
    }
}

// Limit the size of the logo
.nav-logo {
	max-height: 20px;
}

#darkModeNav {
    margin: 0.5rem 0px 0.5rem 0.3rem;
}

.social > * {
    margin: 0px 0.4rem;
    cursor: pointer;
    color: inherit;
}

// Make topics bar look better
.topics-nav {
	padding: 12px;

	p {
		display: inline-block;
		margin: 0px;
    }
}

@media (min-width: 992px) {
    .navbar-brand {
        width: 100% !important;
    }
}