.posts-section {
	padding-top: 50px;
	padding-bottom: 30px;
}

.posts-container {
	max-width: 830px;
	margin-left: auto;
	margin-right: auto;
}

.post-title > h2 {
	font-weight: 700;
    margin: 60px 0px 0px 0px;
    line-height: 29px;
    color: var(--text-color);
}

.post-meta {
    display: flex;
    align-items: center;
    margin: 0.7rem 0px 1rem 0px;
}

.post-meta > p {
    margin: 0px 0px 0px 0.4rem;
}

.post-meta > img {
    margin: 0px 0.2rem 0px 0px;
    border-radius: 100%;
    max-height: 30px;
    max-width: 30px;
}

.post-meta-datetime {
	opacity: 0.5;
}

.post-img {
	height: 428px;
	width: 830px;
	border-radius: 3px;
	margin-top: 5px;
	margin-bottom: 20px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: var(--theme);
}

.post-excerpt {
	opacity: 0.6;
    font-family: var(--font-normal);
    font-size: 1.2rem;
}

.pageination-section {
	padding-top: 40px;
	padding-bottom: 40px;
	min-height: 20px;

	.status {
		opacity: 0.3;
	}
}