.post-content {
    font-family: var(--font-normal);
    font-size: 1.2rem;

	p:nth-child(1) {
		// Increase the size of first paragraph
		font-size: 1.5rem;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: 600;
		padding-bottom: 5px;
		font-family: 'Poppins', sans-serif;
	}

	pre {
		background-color: #FBFDFF;
		padding: 20px;
		border: 1px solid #DCDCDC;
		border-radius: 5px;
		margin-top: 20px;
		text-align: left !important;
	}

	table {
		width: 100%;
		margin-top: 20px;
		margin-bottom: 25px;
		font-size: 1.2rem;

		td {
			line-height: 2.5;
			padding-left: 5px;
		}

		tr:nth-child(2n+3) {
			background-color: #FBFDFF;
		}
	}

	img {
		border-radius: 5px;
		max-width: 100%;
		margin-bottom: 20px;
	}

	a[href$="#bold"] {
		font-weight: 600;
	}

	a[href$="#secondary"] {
		font-weight: 600;
		color: $secondary !important;
	}

	a[href$="#success"] {
		font-weight: 600;
		color: $success !important;
	}

	a[href$="#danger"] {
		font-weight: 600;
		color: $danger !important;
	}

	a[href$="#warning"] {
		font-weight: 600;
		color: $warning !important;
	}

	a[href$="#info"] {
		font-weight: 600;
		color: $info !important;
	}

	.btn {
		margin-right: 10px !important;
		margin-bottom: 10px !important;
	}

	.share-post {
		margin-top: 30px;

		.share-title {
			opacity: 0.5;
			font-size: 1rem;
			margin-bottom: 3px;
		}
	}

	.dcomments {
		margin-top: 20px;
		margin-bottom: 20px;
	}
}