// Fonts
$font-family-base: 'Poppins', sans-serif;
$font-family-normal: '-apple-system', 'BlinkMacSystemFont', '"Segoe UI"', 'Roboto', '"Helvetica Neue"', 'Arial', '"Noto Sans"', 'sans-serif', '"Apple Color Emoji"', '"Segoe UI Emoji"', '"Segoe UI Symbol"', '"Noto Color Emoji"';

// Shadows
$box-shadow: -1px 19px 26px -11px rgba(0,0,0,0.1);

// Colors
$light: #FBFDFF;
$primary: #006CFF;
$secondary: #000000;