.footer-section {
	padding: 30px;
	min-height: 100px;
}

.footer-logo {
	font-size: 1.4rem;
	display: inline;
	
	img {
		height: 25px;
	}
}

.footer-copyright {
	font-size: 0.8rem;
	opacity: 0.5;
	padding-left: 1px;
	margin: 0px !important;
}

.footer-nav {
	a {
		color: white !important;
		opacity: 0.5;
		transition: 0.2s opacity;
		padding-top: 10px;
	}

	a:hover {
		opacity: 1;
	}
}

.watermark-text {
	color: white;
}

.watermark-text:hover {
	color: white;
	opacity: 1 !important;
}