@media only screen and (max-width: 908px) {
	.posts-container {
		// background-color: pink;
		max-width: 730px;
		text-align: center;
		padding: 0px 15px;
	}

	.post-img {
		max-height: 350px;
		max-width: 730px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.post-title > h2 {
		font-size: 1.5rem;
	}

	.post-content {
		p:nth-child(1) {
			// Increase the size of first paragraph
			font-size: 1.2rem;
		}

		p {
			font-size: 1rem;
		}

		h1 {
			font-size: 1.75rem !important;
		}

		h2 {
			font-size: 1.5rem !important;
		}

		h3 {
			font-size: 1.3rem !important;
		}

		h4 {
			font-size: 1.2rem !important;
		}

		h5 {
			font-size: 1.1rem !important;
		}

		h6 {
			font-size: 1rem !important;
		}

		table {
			font-size: 1rem !important;
		}
	}
}

@media only screen and (max-width: 792px) {
	.post-img {
		max-height: 300px;
		max-width: 600px;
	}
}

@media only screen and (max-width: 644px) {
	.post-img {
		max-height: 250px;
		max-width: 500px;
	}
}

@media only screen and (max-width: 530px) {
	.post-img {
		max-height: 200px;
		max-width: 450px;
	}
}

@media only screen and (max-width: 486px) {
	.post-img {
		max-height: 150px;
		max-width: 300px;
	}
}

@media only screen and (max-width: 332px) {
	.post-img {
		max-height: 100px;
		max-width: 200px;
	}
}

@media only screen and (max-width: 537px) {
	.subscribe-section {
		padding: 40px;
	}
	.subscribe-title {
		font-size: 1.3rem;
	}

	.subscribe-tag {
		font-size: 1rem;
	}
}

@media only screen and (max-width: 537px) {
	.footer-nav {
		display: none !important;
	}
}

@media only screen and (max-width: 387px) {
	.footer-section {
		min-height: 120px;
	}
}