.subscribe-section {
	padding: 120px;
}

.subscribe-title {
	font-size: 1.8rem;
}

.subscribe-tag {
	font-size: 1.3rem;
	opacity: 0.4;
}

.subscribe-form {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.subscribe-input {
	margin-bottom: 18px;
}